POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=chef_db

SMTP_USER=your_email@gmail.com
SMTP_PASS="xxxx xxxx xxxx xxxx"  # Google App Password
SMTP_TO=destination_email@gmail.com